---
import ExperienceItem from './ExperienceItem.astro'
const EXPERIENCE = [
  {
    date: 'Diciembre 2023 - Julio 2024',
    title: 'Flutter Developer en DISOFTEC S.A. DE C.V.',
    description: 'Desarrollo de aplicaciones móviles enfocadas en la seguridad empresarial (control de accesos, carriers, empleados). Implementación de Firebase para autenticación y notificaciones, desarrollo de backend en Node.js y Express.js, y gestión de bases de datos en SQL. Despliegue de aplicaciones en App Store y Google Play Store.',
    link: 'https://play.google.com/store/apps/details?id=com.dapis.ctapp.mx.tab'
  },
  {
    date: 'Mayo 2023 - Agosto 2023',
    title: 'Java Developer en CASTORES S.A. DE C.V.',
    description: 'Desarrollo de backend en Java EE8 con Spring Boot, y frontend web en Angular y React. Enfoque principal en el proyecto de nómina interna para carriers y administración de bases de datos en SQL.',
  },
  {
    date: 'Abril 2023',
    title: 'Sistema de inventario en Flutter y Swift UI - Freelance',
    description: 'Desarrollo freelance de una aplicación móvil para control de inventario en una tienda de abarrotes, con generación de reportes de ventas y compras. La aplicación se sincroniza con una base de datos en Firebase, utilizando Flutter para Android y Swift UI para iOS.',
    link: 'https://github.com/javiermh20/store_flutter_firebase'
  }
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
    {
        EXPERIENCE.map(experience => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience} />
            </li>    
        ))
    }                  
</ol>

