---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer class="bg-white/5 rounded-lg shadow m-4 opacity-80">
  <div
    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
  >
    <span class="text-sm text-gray-400 sm:text-center"
      >© 2025 <a href="https://www.github.com/javiermh20" class="hover:underline"
        >Javier Mejia</a
      >. {t("footer.rights")}
    </span>
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray- sm:mt-0"
    >
      <li>
        <a href="#top" class="hover:underline me-4 md:me-6">{t("nav.home")}</a>
      </li>
      <li>
        <a href="#experience" class="hover:underline me-4 md:me-6"
          >{t("nav.experience")}</a
        >
      </li>
      <li>
        <a href="#certifications" class="hover:underline me-4 md:me-6"
          >{t("nav.certifications")}</a
        >
      </li>
      <li>
        <a href="#projects" class="hover:underline me-4 md:me-6"
          >{t("nav.projects")}</a
        >
      </li>
      <li>
        <a href="#about" class="hover:underline">{t("nav.about")}</a>
      </li>
    </ul>
  </div>
</footer>
