<header class="flex justify-center items-center py-5 w-[1120px] mx-auto">
  <nav>
    <ul class="flex flex-row gap-x-10 opacity-80">
      <li><a href="#top">Inicio</a></li>
      <li><a href="#experience">Experiencia</a></li>
      <li><a href="#projects">Proyectos</a></li>
      <li><a href="#about">Sobre mi</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
</header>
